@import '_variables.scss';
.profile-img {
  width: 190px;
  height: 190px;
  object-fit: cover;
}

.profile-type-title {
  color: $primary;
  @media (min-width: 766px) {
    font-size: 1.3em;
  }

  @media (min-width: 992px) {
    font-size: 2em;
  }
}

.homeworks {
  &-name {
    font-size: 1em;
    color: $secondary;
    @media (min-width: 766px) {
      font-size: 0.8em;
    }

    @media (min-width: 992px) {
      font-size: 1em;
    }
  }

  &-progress {
    color: $secondary;
    @media (min-width: 766px) {
      font-size: 0.8em;
    }

    @media (min-width: 992px) {
      font-size: 1em;
    }
  }
}

.form {
  &-label {
    color: $secondary;
    font-weight: 600;
  }
}
