$primary: rgb(70, 134, 194);
$secondary: rgb(92, 92, 92);
$secondary-2: rgb(192, 192, 192);
$secondary-3: rgb(88, 88, 88);
$bg-content: rgb(238, 238, 238);
$bg-link: rgba(189, 189, 189, 0.795);
$footer-text: rgb(138, 138, 138);
$white: #fff;
// dark

$bg-content-dark: rgb(29, 29, 29);
$nav-bgc-dark: rgb(75, 75, 75);
$card-bg-dark: rgb(163, 111, 43);
