*{
	box-sizing: border-box;
}

body{
	font-family: 'Inter', sans-serif;
}

body,
h1,h2,h3,
p, ul, ol{
	margin: 0;
	padding: 0;
}

.header{
	position: fixed;
	top: 0;
	padding: 10px;
	box-shadow: 0px 14px 17px 2px rgba(34, 60, 80, 0.33);
	width: 100%;     
	background: rgb(77, 77, 77);
	z-index: 10;
}

@supports (height: 100vh) {
	body {
		background: linear-gradient(to right top, #0089f2 50%, #ddd 50%);
		background-size: 100% calc(100% - 100vh + 104px);
		background-repeat: no-repeat;
	}

	body:before {
		content:"";
		position:fixed;
		left:0px;
		top:104px;
		bottom: 0;
		width:100%;
		background:#fff;
		z-index:-1;
	}
}

.container{
	height: 100px;
}

.header__body{
	width: 80%;
	margin: 0 auto; 
	
}

.navigation{
	position: relative;
    height: 5em;
}

.navigation__logo{
	width: 50px;
	position: absolute;
    top: 50%;
	transform: translateY(-50%);
}

.navigation__list{
	display: inline-block;
	position: absolute;
    top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.navigation__list-item{
	display: inline-block;
	margin-left: 20px;
}

.navigation__list-item:first-child{
	margin-left: 0px;
}

.navigation__list-link{
	text-decoration: none;
	color: #fff;
	transition: all 0.5s ease-out;
}

.navigation__list-link:visited{
	color: #fff;
}

.navigation__list-link:hover{
	color: rgb(202, 48, 48);
}

.content{
	width: 80%;
	margin: 128px auto 0 auto;
}

.carusel__input{
	display: none;
}

.carusel{
    position: relative;
    max-width: 1200px;
    height: 400px;
    max-height: 100vh;
    margin: 20px auto;
    overflow: hidden;
    user-select: none;
	background-color: rgb(82, 199, 219);
}

.carusel__item {
    position: absolute; 
    top: 25%;
    display: none;
    width: 100%;
    height: 60%;
    background: center no-repeat;
    background-size: contain;
    transition: left 0.5s, transform 0.5s;
    will-change: transform;
    backface-visibility: hidden;
}

.carusel__item1{
	background-image: url(https://source.unsplash.com/400x400/?sig=1)
}
.carusel__item2{
	background-image: url(https://source.unsplash.com/400x400/?sig=2)
}
.carusel__item3{
	background-image: url(https://source.unsplash.com/400x400/?sig=3)
}
.carusel__item4{
	background-image: url(https://source.unsplash.com/400x400/?sig=4)
}
.carusel__item5{
	background-image: url(https://source.unsplash.com/400x400/?sig=5)
}
.carusel__item6{
	background-image: url(https://source.unsplash.com/400x400/?sig=6)
}

.carusel__arrow {
    display: none;
    position: absolute;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%);
    color: #fff;
    background-color: #999;
    cursor: pointer;
	width: 2em;
	height: 2em;
	border-radius: 50%;
}

input:checked+.carusel__block *,
input:checked+.carusel__block+input+div .carusel__item,
input:checked+.carusel__block+input+div+input+div * {
	display: block;
}

input:checked+.carusel__block .carusel__item {
	left: -25%; 
}

input:checked+.carusel__block+input+div .carusel__item {
	left: 0; 
}

input:checked+.carusel__block+input+div+input+div .carusel__item {
	left: 25%; 
}

input:checked+.carusel__block .carusel__arrow {
	left: 0;
}
input:checked+.carusel__block+input+div+input+div .carusel__arrow {
	right: 0;
}

input:checked+.carusel__block .carusel__arrow{
	left: 5%;
}

input:checked+.carusel__block+input+div+input+div .carusel__arrow{
	right: 5%;
}

input:checked+.carusel__block .carusel__arrow:before {
	content: '<';
	display: block;
	margin: 4px 0 0 10px;

}
input:checked+.carusel__block+input+div+input+div .carusel__arrow:before{
	content: '>';
	display: block;
	margin: 4px 0 0 10px;
}

.accordion{
	margin-top: 20px;
	margin-bottom: 90px;
	
}

.accordion__body{
	height: 100%;
	width: 480px;
	position: relative;
	display: inline-block;
}

.accordion__content{
	position: absolute;
	width: 400px;
	top: 0;
	right: 0;
	height: inherit;
	padding: 10px;
	text-align: justify;
	color: #fff;
	overflow:auto;
}

.content__form{
	position: relative;
	width: 230px;
	padding: 10px;
	margin: 0 0 20px 0;
}
.content__form::after{
	content: "";
	background: url(./img/cat1.jpg) center/cover no-repeat;
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}

.accordion__content-bg{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
	padding-top: 25%;

}

.accordion__title{
	margin: 20px 0 50px 0;
	text-transform: capitalize;
	font-size: 32px;
}

.accordion__side{
	height: 100%;
	font-size: 0;
	width: 80px;
}

.accordion__side-block{
	height: 120px;
	position: relative;
	overflow: hidden;
	width: 80px;
	font-size: 20px;
}

.accordion__side-header{
	writing-mode:vertical-rl;
	transform:scale(-1);
	min-height: 225px;
	text-align: center;
}

.accordion__side-title{
	font-size: 25px;
	color: #fff;
	padding: 20px;
	text-transform: capitalize;
}

.accordion__side-title span{
	margin: auto;
	transform: rotate(90deg);
}

.accordion__side-block::after{
	content: '';
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	border: 22px solid #fff;
	transform: rotate(45deg);
	top: 16%;
	left: -53%;
}
.accordion__body:hover{
	width: 480px;
}

.accordion__body:hover .accordion__content{
	display: block;
}


/* classes to roll content */
.accordion__content--hidden{
	display: none;
}

.accordion__body--small{
	width: 80px;
}

/* =========================== */
/* color for accordion */
/* first block */
.accordion__body--color:nth-of-type(1),
.accordion__body:nth-of-type(1) .accordion__side-block
{
	background-color: rgb(255, 2, 2);
}

.accordion__body:nth-of-type(1) .accordion__body--color-gradation,
.accordion__side--color:nth-of-type(1)::after
{
	background-color: rgb(107, 0, 0);
}

/* second block */
.accordion__body--color:nth-of-type(2),
.accordion__body:nth-of-type(2) .accordion__side-block{
	background-color: rgb(240, 168, 36);
}

.accordion__body:nth-of-type(2) .accordion__body--color-gradation,
.accordion__side--color:nth-of-type(2)::after{
	background-color: rgb(167, 117, 25);
}

/* third block */
.accordion__body--color:nth-of-type(3),
.accordion__body:nth-of-type(3) .accordion__side-block{
	background-color: rgb(218, 216, 99);
}

.accordion__body:nth-of-type(3) .accordion__body--color-gradation,
.accordion__side--color:nth-of-type(3)::after{
	background-color: rgb(147, 156, 60);
}

/* fourth block */
.accordion__body--color:nth-of-type(4),
.accordion__body:nth-of-type(4) .accordion__side-block{
	background-color: rgb(0, 155, 21);
}

.accordion__body:nth-of-type(4) .accordion__body--color-gradation,
.accordion__side--color:nth-of-type(4)::after{
	background-color: rgb(34, 105, 44);
}
/* fifth block */
.accordion__body--color:nth-of-type(5),
.accordion__body:nth-of-type(5) .accordion__side-block{
	background-color: rgb(0, 250, 33);
}

.accordion__body:nth-of-type(5) .accordion__body--color-gradation,
.accordion__side--color:nth-of-type(5)::after{
	background-color: rgb(70, 161, 82);
}

.form{
	width: 210px;
	text-align: left;

}

.form-label{
	display: inline-block;
	margin: 10px 0 5px 0;
}

.form-label:first-child{
	margin-top: 0;
}

.form-input{
	padding: 5px;
	outline: none;
	border: none;
}

.form-input:invalid:not(:placeholder-shown){
	border: 1px dashed red;
}

.form-btn{
	border: none;
	padding: 5px 20px;
	text-transform: capitalize;
	display: inline-block;
	cursor: pointer;
}

.form-btn:hover{
	border-radius: 50%;
	height: 3em;
	width: 3em;
	color:transparent;
}

.form-btn:first-of-type{
	margin-right: 20px;
}

.footer{
	text-align: center;
	padding: 40px 0;
	background: rgb(131,58,180);
	background: linear-gradient(34deg, rgba(131,58,180,1) 0%, rgba(29,253,213,1) 57%, rgba(252,176,69,1) 100%);
}

.footer span{
	font-size: 20px;
}